<template>
  <v-app>
    <v-content>
      <v-card>
          <header-component></header-component>
          <v-container>

          </v-container>
      </v-card>      
    </v-content>
  </v-app>
</template>

<script>
import HeaderComponent from './components/HeaderComponent'

export default {
  name: 'App', 

  components: {
    HeaderComponent
  },

};
</script>