<template>
  
</template>

<script>
    

    export default {
        components: {

        },

        props: {
        source: String,
        },

        data() {
          return {
            loading: false,
          }
        }
    } 
</script>