<template>
    
</template>

<script>
import { mapGetters } from 'vuex'
import * as actions from '../store/action-types'

export default {
    
    computed: {
        ...mapGetters({
        user: 'user'
        })

    },

    methods: {
        editUser () {
            this.editingUser = true
            this.$nextTick(this.$refs.email.focus)
        },

        updateUser () {
            this.updatingUser = true
            this.$store.dispatch(actions.UPDATE_USER, this.user).then(response => {
            this.showMessage('User modified ok!')
        }).catch(error => {
            console.dir(error)
            this.showError(error)
        }).then(() => {
            this.editingUser = false
            this.updatingUser = false
            })
        },

        updateEmail (email) {
            this.$store.commit(mutations.USER, {...this.user, email})
        },

        updateName (name) {
            this.$store.commit(mutations.USER, {...this.user, name})
        },

        toogleRightDrawer () {
            this.drawerRight = !this.drawerRight
        },

        checkRoles (item) {
            if (item.role) {
                return this.$store.getters.roles.find(function (role) {
                return role == item.role // eslint-disable-line
                })
            }
            return true
        },

        logout () {
            this.logoutLoading = true
            this.$store.dispatch(actions.LOGOUT).then(response => {
                window.location = '/'
            }).catch(error => {
                console.log(error)
            }).then(() => {
                this.logoutLoading = false
            })
        },

        menuItemSelected (item) {
            if (item.href) {
                if (item.new) {
                window.open(item.href)
                } else {
                window.location.href = item.href
                }
            }
        },

        changePassword () {
            this.changingPassword = true
            this.$store.dispatch(actions.REMEMBER_PASSWORD, this.user.email).then(response => {
            this.showMessage(`Email sent to change password`)
        }).catch(error => {
            console.dir(error)
            this.showError(error)
        }).then(() => {
            this.changingPassword = false
        })
        }

    }
}
</script>