<template>
    <v-app-bar
        absolute
        flat
        color="primary"
    >
        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title>Title</v-toolbar-title>

        <v-spacer></v-spacer>

       <login-component></login-component>

    </v-app-bar>
</template>

<script>
import loginComponent from '../components/LoginButtonComponent'

export default {
     name: 'header-component',
     
     components: {
        loginComponent
     }
}

</script>